<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Welcome to St. Clair County, MI</title>
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datepicker.standalone.css" rel="stylesheet" />
    <link href="~/Content/jquery-customselect-1.9.1.css" rel="stylesheet" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/jquery-customselect-1.9.1.js"></script>
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="@ViewBag.Class">
    <div class="container-fluid body-content">
        <div class="modal fade modal-redirect" id="modalRedirect" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <p class="modal-title text-center">
                            You are now leaving<span>St. Clair County's official website.</span>
                        </p>
                        <button type="button" class="close cancel" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-center">
                        <a href="" class="btn btn-primary btn-sm" id="continue">Continue</a>
                        <button id="cancel" type="button" class="btn btn-default btn-sm cancel">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        @if (@ViewBag.PageEdit != true)
        {
            @RenderPage("Sidenav.cshtml")
        }
        <!-- Header -->
        <header>
            @if (@ViewBag.PageEdit != true)
            {
                if (@ViewBag.Imgbg != true)
                {
                    <!-- Site Brand and Social Links -->
                    <div class="row brand-social">
                        <div class="col-sm-4 -emp"></div>
                        <div class="col-sm-4 -brand text-center">
                            @Html.ActionLink("Saint Clair County Michigan", "Index", "Home", new { @class = "site-brand" })
                        </div>
                        <div class="col-sm-4 -social text-right">
                            <div class="d-flex flex-row justify-content-end align-items-center">
                                <a href="/" class="sli sli-facebook">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                                <a href="/" class="sli sli-instagram">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                                <a href="/" class="sli sli-email">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                </a>
                                <a href="/" class="sli sli-print">
                                    <i class="fa fa-print" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- End Site Brand Social Links -->
                    <!-- Banner Image -->

                    <div class="row head-banner bg-img" data-target=".image-bg">
                        <img class="image-bg" src="~/Content/Images/m-img-banner.jpg" alt="" width="100%" />
                    </div>
                }
                else
                {
                    <div class="row brand-social">
                        <div class="col-sm-6">
                            @Html.ActionLink("Saint Clair County Michigan", "Index", "Home", new { @class = "site-brand site-brand-side" })
                        </div>
                        <div class="col-sm-6 -social text-right">
                            <div class="d-flex flex-row justify-content-end align-items-center">
                                <a href="/" class="sli sli-facebook">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                                <a href="/" class="sli sli-instagram">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                                <a href="/" class="sli sli-email">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                </a>
                                <a href="/" class="sli sli-print">
                                    <i class="fa fa-print" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                if (@ViewBag.Class != "admin admin-dashboard admin-login")
                {
                    <div class="row">
                        <div class="col-sm-6">
                            <h1 class="admin-title">ITG Page Builder <span>v1.0</span></h1>
                        </div>
                        <div class="col-sm-6 text-right d-flex justify-content-end align-items-center">
                            <a href="~/admin/admindashboard" class="btn btn-success btn-sm admin-btn-back">Back</a>
                            @using (Html.BeginForm("Logout", "Admin", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <button type="submit" class="btn btn-default btn-sm">Logout</button>
                            }
                        </div>
                    </div>
                }

            }

            <!-- End Banner Image -->

        </header>
        <!-- End Header -->
        <div class="mainbody">
            @RenderBody()
        </div>

        <!-- Footer -->
        <footer>
            <div class="row align-items-center">
                <div class="col text-center">
                    <a href="/" class="">
                        <i class="fa fa-home" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="col text-center">
                    <a href="/" class="">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="col text-center">
                    @Html.ActionLink("Saint Clair County Michigan", "Index", "Home", new { @class = "site-brand" })
                </div>
                <div class="col text-center">
                    <a href="/" class="">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="col text-center">
                    <a href="/" class="">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </footer>
        <!-- End Footer -->
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!--    <script>CKEDITOR.replace('textEdit');</script>-->
    <!--<script type="text/javascript" src="~/Scripts/bootstrap.bundle.min.js"></script>-->
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <!--<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>-->
    <script src="~/Scripts/custom.js"></script>
</body>
</html>
